@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
.sans-font {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
:root{
  /* --page-color:#E7E7E7; */
  --page-color-dark:rgb(25, 23, 23);
  --page-color-white:#E7E7E7;
  --items-background:rgb(44, 35, 35);
}
body{
 background-color:var(--page-color-dark); 
}

.navbar svg,.invert{
  filter: invert(100%);
}
.svgicon{
  padding: 15px;
  background-color:var(--items-background);
  border-radius: 50%;
}
.navbar input{
  padding: 10px;
  background-color: var(--items-background);
  width: 40%;
  background-image: url(../icons/icons8-search-30.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 15px;
  text-indent: 14%;
  color: white;
  border-radius: 20px;
}

.navbar input:hover{
  background-color: var(--items-background);
}
.navbar input:focus{
  outline: none;
}
.forecast{
  border: 1px solid black;
  padding: 10px;
}